*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0077b6;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}
img{
    width: 800px;
    height: 500px;
}

.navigationManual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manualBtn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manualBtn:not(:last-child){
    margin-right: 40px;
}

.manualBtn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/* auto navigation */

.navigationAuto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigationAuto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigationAuto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigationAuto .auto-btn1{
    background: #40D3DC;
}
#radio2:checked ~ .navigationAuto .auto-btn2{
    background: #40D3DC;
}
#radio3:checked ~ .navigationAuto .auto-btn3{
    background: #40D3DC;
}
#radio4:checked ~ .navigationAuto .auto-btn4{
    background: #40D3DC;
}


